ESA4 - Python 4 Data Science Excercise

1. Aufgabe: erledigt - sonst würde es diese Datei ja nicht geben 
2. "I read the first X (X>=25) exersises" :D
3. Folgt weiter unten in der Datei

Umsetzung erfolgt mit pandas: "use pandas in interactive enviroments such as Jupyter because usually performance is not the main issue here"

Frage:

Zugriff z.B. über df["Currency"] oder df.Currency möglich. 
Welche Variante ist die gebräuchliche, bzw. gibt es da irgendwelche Vor- bzw. Nachteile? 
Oder ist das reine Geschmackssache?

In [1]:
#Load the countries.csv directly via URL import into your panda data frame!

import pandas as pd
import io
import requests

url = "https://raw.githubusercontent.com/edlich/eternalrepo/master/DS-WAHLFACH/countries.csv"
request = requests.get(url).content

df = pd.read_csv(io.StringIO(request.decode('utf-8')))

In [2]:
#Display some basic information as rows, columns and some basic statistical info.

#Anzahl Spalten und Zeilen
print(df.shape)

#Anzeige der Basisinformationen
print(df.describe())

(5, 5)
             People          Area         BIP
count  5.000000e+00  5.000000e+00     5.00000
mean   1.027863e+08  3.907400e+06  2716.20000
std    6.759970e+07  4.904957e+06  1457.86083
min    3.650310e+07  3.013380e+05  1529.00000
25%    6.050172e+07  3.573850e+05  1798.00000
50%    8.252165e+07  3.778350e+05  1850.00000
75%    1.260450e+08  8.515770e+06  3466.00000
max    2.083600e+08  9.984670e+06  4938.00000

In [3]:
#Show the last 4 rows of the data frame.

df.tail(4)

       Name     People     Area   BIP Currency
1     Japan  126045000   377835  4938      YEN
2    Canada   36503097  9984670  1529      CAD
3     Italy   60501718   301338  1850      EUR
4  Brazilia  208360000  8515770  1798     REAL

In [4]:
#Show all the row of countries who have the EURO

has_euro = df[df["Currency"] == "EUR"]
has_euro

      Name    People    Area   BIP Currency
0  Germany  82521653  357385  3466      EUR
3    Italy  60501718  301338  1850      EUR

In [5]:
#Show only name and Currency in a new data frame

new_df = df[["Name", "Currency"]]
new_df

       Name Currency
0   Germany      EUR
1     Japan      YEN
2    Canada      CAD
3     Italy      EUR
4  Brazilia     REAL

In [6]:
#Show only the rows/countries that have more than 2000 BIP (it is in Milliarden USD Bruttoinlandsprodukt)

#Ausgabe der kompletten Zeilen
mt_2000 = df[df["BIP"] > 2000]
print(mt_2000)

#nur Ausgabe der Länder (falls das gemeint war)
mt_2000 = df.loc[df["BIP"] > 2000, "Name"]
print(mt_2000)

      Name     People    Area   BIP Currency
0  Germany   82521653  357385  3466      EUR
1    Japan  126045000  377835  4938      YEN
0    Germany
1      Japan
Name: Name, dtype: object

In [7]:
#Select all countries where with inhabitants between 50 and 150 Mio

spec_inhabitants = df[(df["People"] > 50000000) & (df["People"] < 150000000)]
spec_inhabitants

      Name     People    Area   BIP Currency
0  Germany   82521653  357385  3466      EUR
1    Japan  126045000  377835  4938      YEN
3    Italy   60501718  301338  1850      EUR

In [8]:
#Change BIP to Bip

df.rename(columns={"BIP":"Bip"}, inplace=True)
df

       Name     People     Area   Bip Currency
0   Germany   82521653   357385  3466      EUR
1     Japan  126045000   377835  4938      YEN
2    Canada   36503097  9984670  1529      CAD
3     Italy   60501718   301338  1850      EUR
4  Brazilia  208360000  8515770  1798     REAL

In [9]:
#Calculate the Bip sum

df["Bip"].sum()

13581

In [10]:
#Calculate the average people of all countries

df["People"].mean()

102786293.6

In [11]:
#Sort by name alphabetically

df.sort_values("Name")

       Name     People     Area   Bip Currency
4  Brazilia  208360000  8515770  1798     REAL
2    Canada   36503097  9984670  1529      CAD
0   Germany   82521653   357385  3466      EUR
3     Italy   60501718   301338  1850      EUR
1     Japan  126045000   377835  4938      YEN

In [12]:
#Create a new data frame from the original where the area is changed as follows: all countries with > 1000000 get BIG and <= 1000000 get SMALL in the cell replaced!
    
new_df = df.copy()
new_df["Area"] = df["Area"].apply(lambda x: "BIG" if x > 1000000 else "SMALL")
new_df

       Name     People   Area   Bip Currency
0   Germany   82521653  SMALL  3466      EUR
1     Japan  126045000  SMALL  4938      YEN
2    Canada   36503097    BIG  1529      CAD
3     Italy   60501718  SMALL  1850      EUR
4  Brazilia  208360000    BIG  1798     REAL