In [1]:
import numpy as np
import pandas as pd
import io
import requests
import time
from datetime import datetime

In [2]:
url = "https://raw.githubusercontent.com/edlich/eternalrepo/master/DS-WAHLFACH/dsm-beuth-edl-demodata-dirty.csv"
request = requests.get(url).content

data = pd.read_csv(io.StringIO(request.decode('utf-8')))

data

,id,full_name,first_name,last_name,email,gender,age
0,1.0,Mariel Finnigan,Mariel,Finnigan,mfinnigan0@usda.gov,Female,60
1,2.0,Kenyon Possek,Kenyon,Possek,kpossek1@ucoz.com,Male,12
2,3.0,Lalo Manifould,Lalo,Manifould,lmanifould2@pbs.org,Male,26
3,4.0,Nickola Carous,Nickola,Carous,ncarous3@phoca.cz,Male,4
4,5.0,Norman Dubbin,Norman,Dubbin,ndubbin4@wikipedia.org,Male,17
5,6.0,Hasty Perdue,Hasty,Perdue,hperdue5@qq.com,NaN,77
6,7.0,Franz Castello,Franz,Castello,fcastello6@1688.com,Male,25
7,8.0,Jorge Tarney,Jorge,Tarney,jtarney7@ft.com,Male,77
8,9.0,Eunice Blakebrough,Eunice,Blakebrough,eblakebrough8@sohu.com,Female,45
9,10.0,Kristopher Frankcombe,Kristopher,Frankcombe,kfrankcombe9@slate.com,Male,old
10,11.0,Palm Domotor,Palm,Domotor,pdomotora@github.io,Male,6
11,12.0,Luz Lansdowne,Luz,Lansdowne,llansdowneb@theguardian.com,Female,16
12,13.0,Modestia Keble,Modestia,Keble,mkeblec@cmu.edu,Female,91
13,14.0,Stacee Bovis,Stacee,Bovis,sbovisd@webeden.co.uk,Female,22
14,15.0,Eden Wace,Eden,Wace,ewacee@marriott.com,Female,16
15,16.0,Eden Wace,Eden,Wace,ewacee@marriott.com,Female,16
16,17.0,Tobias Sherburn,Tobias,Sherburn,tsherburnf@facebook.com,Male,2
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,19.0,Clair Skillern,Clair,Skillern,cskillerng@nih.gov,Male,-78
19,20.0,Mathew Addicott,Mathew,Addicott,maddicotth@acquirethisname.com,Male,65
20,21.0,Kerianne Goacher,Kerianne,Goacher,NaN,Female,45
21,NaN,Maurits Shawl,Maurits,Shawl,mshawlj@dmoz.org,Male,72
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
#Leere Datensätze entfernen
data.dropna(axis=0, how='all', inplace=True)
data

,id,full_name,first_name,last_name,email,gender,age
0,1.0,Mariel Finnigan,Mariel,Finnigan,mfinnigan0@usda.gov,Female,60
1,2.0,Kenyon Possek,Kenyon,Possek,kpossek1@ucoz.com,Male,12
2,3.0,Lalo Manifould,Lalo,Manifould,lmanifould2@pbs.org,Male,26
3,4.0,Nickola Carous,Nickola,Carous,ncarous3@phoca.cz,Male,4
4,5.0,Norman Dubbin,Norman,Dubbin,ndubbin4@wikipedia.org,Male,17
5,6.0,Hasty Perdue,Hasty,Perdue,hperdue5@qq.com,NaN,77
6,7.0,Franz Castello,Franz,Castello,fcastello6@1688.com,Male,25
7,8.0,Jorge Tarney,Jorge,Tarney,jtarney7@ft.com,Male,77
8,9.0,Eunice Blakebrough,Eunice,Blakebrough,eblakebrough8@sohu.com,Female,45
9,10.0,Kristopher Frankcombe,Kristopher,Frankcombe,kfrankcombe9@slate.com,Male,old
10,11.0,Palm Domotor,Palm,Domotor,pdomotora@github.io,Male,6
11,12.0,Luz Lansdowne,Luz,Lansdowne,llansdowneb@theguardian.com,Female,16
12,13.0,Modestia Keble,Modestia,Keble,mkeblec@cmu.edu,Female,91
13,14.0,Stacee Bovis,Stacee,Bovis,sbovisd@webeden.co.uk,Female,22
14,15.0,Eden Wace,Eden,Wace,ewacee@marriott.com,Female,16
15,16.0,Eden Wace,Eden,Wace,ewacee@marriott.com,Female,16
16,17.0,Tobias Sherburn,Tobias,Sherburn,tsherburnf@facebook.com,Male,2
18,19.0,Clair Skillern,Clair,Skillern,cskillerng@nih.gov,Male,-78
19,20.0,Mathew Addicott,Mathew,Addicott,maddicotth@acquirethisname.com,Male,65
20,21.0,Kerianne Goacher,Kerianne,Goacher,NaN,Female,45
21,NaN,Maurits Shawl,Maurits,Shawl,mshawlj@dmoz.org,Male,72

In [4]:
#Doppelte Datensätze entfernen
data.drop_duplicates(subset=["full_name","first_name","last_name","email","gender","age"], inplace=True)
data

,id,full_name,first_name,last_name,email,gender,age
0,1.0,Mariel Finnigan,Mariel,Finnigan,mfinnigan0@usda.gov,Female,60
1,2.0,Kenyon Possek,Kenyon,Possek,kpossek1@ucoz.com,Male,12
2,3.0,Lalo Manifould,Lalo,Manifould,lmanifould2@pbs.org,Male,26
3,4.0,Nickola Carous,Nickola,Carous,ncarous3@phoca.cz,Male,4
4,5.0,Norman Dubbin,Norman,Dubbin,ndubbin4@wikipedia.org,Male,17
5,6.0,Hasty Perdue,Hasty,Perdue,hperdue5@qq.com,NaN,77
6,7.0,Franz Castello,Franz,Castello,fcastello6@1688.com,Male,25
7,8.0,Jorge Tarney,Jorge,Tarney,jtarney7@ft.com,Male,77
8,9.0,Eunice Blakebrough,Eunice,Blakebrough,eblakebrough8@sohu.com,Female,45
9,10.0,Kristopher Frankcombe,Kristopher,Frankcombe,kfrankcombe9@slate.com,Male,old
10,11.0,Palm Domotor,Palm,Domotor,pdomotora@github.io,Male,6
11,12.0,Luz Lansdowne,Luz,Lansdowne,llansdowneb@theguardian.com,Female,16
12,13.0,Modestia Keble,Modestia,Keble,mkeblec@cmu.edu,Female,91
13,14.0,Stacee Bovis,Stacee,Bovis,sbovisd@webeden.co.uk,Female,22
14,15.0,Eden Wace,Eden,Wace,ewacee@marriott.com,Female,16
16,17.0,Tobias Sherburn,Tobias,Sherburn,tsherburnf@facebook.com,Male,2
18,19.0,Clair Skillern,Clair,Skillern,cskillerng@nih.gov,Male,-78
19,20.0,Mathew Addicott,Mathew,Addicott,maddicotth@acquirethisname.com,Male,65
20,21.0,Kerianne Goacher,Kerianne,Goacher,NaN,Female,45
21,NaN,Maurits Shawl,Maurits,Shawl,mshawlj@dmoz.org,Male,72

In [5]:
#Leere Id's mit dem nächstgrößeren Wert füllen
#data.fillna(value={"id":data.id.max()+1}, inplace=True)

for x in range(data.id.isnull().sum()):
    data.fillna(value={"id":data.id.max()+1}, inplace=True, limit=1)
    #for-Schleife benötigt, damit aufsteigend gefüllt wird und nicht alle fehlenden Id's auf die gleiche, nächstgrößere Id (hier 22) gesetzt werden

#Float in Int umwandeln
data = data.astype({'id':'int32'})

#Index des Datenframes mit den Werten der Felder Id überschreiben
data.set_index("id", inplace=True)
#Falls die Id anschließend noch weiterverarbeitet werden soll ist zu beachten, dass diese nicht mehr als Column gelistet wird
#Zugriff über:
#for index, row in data.iterrows():
#    print(index, row["first_name"])
data

,full_name,first_name,last_name,email,gender,age
id,,,,,,
1,Mariel Finnigan,Mariel,Finnigan,mfinnigan0@usda.gov,Female,60
2,Kenyon Possek,Kenyon,Possek,kpossek1@ucoz.com,Male,12
3,Lalo Manifould,Lalo,Manifould,lmanifould2@pbs.org,Male,26
4,Nickola Carous,Nickola,Carous,ncarous3@phoca.cz,Male,4
5,Norman Dubbin,Norman,Dubbin,ndubbin4@wikipedia.org,Male,17
6,Hasty Perdue,Hasty,Perdue,hperdue5@qq.com,NaN,77
7,Franz Castello,Franz,Castello,fcastello6@1688.com,Male,25
8,Jorge Tarney,Jorge,Tarney,jtarney7@ft.com,Male,77
9,Eunice Blakebrough,Eunice,Blakebrough,eblakebrough8@sohu.com,Female,45
10,Kristopher Frankcombe,Kristopher,Frankcombe,kfrankcombe9@slate.com,Male,old
11,Palm Domotor,Palm,Domotor,pdomotora@github.io,Male,6
12,Luz Lansdowne,Luz,Lansdowne,llansdowneb@theguardian.com,Female,16
13,Modestia Keble,Modestia,Keble,mkeblec@cmu.edu,Female,91
14,Stacee Bovis,Stacee,Bovis,sbovisd@webeden.co.uk,Female,22
15,Eden Wace,Eden,Wace,ewacee@marriott.com,Female,16
17,Tobias Sherburn,Tobias,Sherburn,tsherburnf@facebook.com,Male,2
19,Clair Skillern,Clair,Skillern,cskillerng@nih.gov,Male,-78
20,Mathew Addicott,Mathew,Addicott,maddicotth@acquirethisname.com,Male,65
21,Kerianne Goacher,Kerianne,Goacher,NaN,Female,45
22,Maurits Shawl,Maurits,Shawl,mshawlj@dmoz.org,Male,72

In [ ]:
#Fehlende Id's wurden bewusst im Dataframe belassen. Könnten aber mit folgender Zeile neu hochgezählt werden
data.index = pd.RangeIndex(start=1, stop=len(data.index)+1)
data

In [6]:
#full_name nicht benötigt -> Normalform beachten
data = data.drop(['full_name'], axis=1)
data

    first_name    last_name                           email  gender  age
id
1       Mariel     Finnigan             mfinnigan0@usda.gov  Female   60
2       Kenyon       Possek               kpossek1@ucoz.com    Male   12
3         Lalo    Manifould             lmanifould2@pbs.org    Male   26
4      Nickola       Carous               ncarous3@phoca.cz    Male    4
5       Norman       Dubbin          ndubbin4@wikipedia.org    Male   17
6        Hasty       Perdue                 hperdue5@qq.com     NaN   77
7        Franz     Castello             fcastello6@1688.com    Male   25
8        Jorge       Tarney                 jtarney7@ft.com    Male   77
9       Eunice  Blakebrough          eblakebrough8@sohu.com  Female   45
10  Kristopher   Frankcombe          kfrankcombe9@slate.com    Male  old
11        Palm      Domotor             pdomotora@github.io    Male    6
12         Luz    Lansdowne     llansdowneb@theguardian.com  Female   16
13    Modestia        Keble                 mkeblec@cmu.edu  Female   91
14      Stacee        Bovis           sbovisd@webeden.co.uk  Female   22
15        Eden         Wace             ewacee@marriott.com  Female   16
17      Tobias     Sherburn         tsherburnf@facebook.com    Male    2
19       Clair     Skillern              cskillerng@nih.gov    Male  -78
20      Mathew     Addicott  maddicotth@acquirethisname.com    Male   65
21    Kerianne      Goacher                             NaN  Female   45
22     Maurits        Shawl                mshawlj@dmoz.org    Male   72

In [7]:
#Leere Email-Adressen herausfinden und überschreiben
data.fillna(value={"email":"undefined"}, inplace=True)

#Invalide Email-Adressen herausfinden und überschreiben
data.email.where(data["email"].str.match(r'^[a-z0-9]+[\._]?[a-z0-9]+[@]\w+[.]\w{2,3}$|^undefined$').astype(bool) == True, other="invalid", inplace=True)
data

    first_name    last_name                           email  gender  age
id
1       Mariel     Finnigan             mfinnigan0@usda.gov  Female   60
2       Kenyon       Possek               kpossek1@ucoz.com    Male   12
3         Lalo    Manifould             lmanifould2@pbs.org    Male   26
4      Nickola       Carous               ncarous3@phoca.cz    Male    4
5       Norman       Dubbin          ndubbin4@wikipedia.org    Male   17
6        Hasty       Perdue                 hperdue5@qq.com     NaN   77
7        Franz     Castello             fcastello6@1688.com    Male   25
8        Jorge       Tarney                 jtarney7@ft.com    Male   77
9       Eunice  Blakebrough          eblakebrough8@sohu.com  Female   45
10  Kristopher   Frankcombe          kfrankcombe9@slate.com    Male  old
11        Palm      Domotor             pdomotora@github.io    Male    6
12         Luz    Lansdowne     llansdowneb@theguardian.com  Female   16
13    Modestia        Keble                 mkeblec@cmu.edu  Female   91
14      Stacee        Bovis                         invalid  Female   22
15        Eden         Wace             ewacee@marriott.com  Female   16
17      Tobias     Sherburn         tsherburnf@facebook.com    Male    2
19       Clair     Skillern              cskillerng@nih.gov    Male  -78
20      Mathew     Addicott  maddicotth@acquirethisname.com    Male   65
21    Kerianne      Goacher                       undefined  Female   45
22     Maurits        Shawl                mshawlj@dmoz.org    Male   72

In [8]:
#Datentype der Einträge "age" von Object zu Numeric konvertieren. Errors="coerce" wandelt String in NaN um, die in der zweiten Zeile in 0 umgewandelt werden 
data["age"] = pd.to_numeric(data["age"], errors="coerce")
data.age.fillna(value=0, inplace=True)
#Nachdem innerhalb der Methode pd.to_numeric(downcast="integer") nicht funktioniert (warum eigentlich nicht?), hier nochmal eine separate Umwandlung in int und die Berechnung des Betrages, um negative Vorzeichen zu entfernen
data.age = abs(data.age.astype('int64'))

#Umrechnung Alter in Datum
for index, row in data.iterrows():
    if row["age"] != 0:
        yob = datetime.now().year-row["age"]
        #Umrechnung in Timestamp, falls Datum lieber in dem Format gespeicher werden soll
        #timestamp = pd.DatetimeIndex([datetime(yob, 1, 1)]).astype(np.int64)
        yob = pd.DatetimeIndex([datetime(yob, 1, 1)])
        data.at[index,"age"] = yob[0]

data

,first_name,last_name,email,gender,age
id,,,,,
1,Mariel,Finnigan,mfinnigan0@usda.gov,Female,1960-01-01 00:00:00
2,Kenyon,Possek,kpossek1@ucoz.com,Male,2008-01-01 00:00:00
3,Lalo,Manifould,lmanifould2@pbs.org,Male,1994-01-01 00:00:00
4,Nickola,Carous,ncarous3@phoca.cz,Male,2016-01-01 00:00:00
5,Norman,Dubbin,ndubbin4@wikipedia.org,Male,2003-01-01 00:00:00
6,Hasty,Perdue,hperdue5@qq.com,NaN,1943-01-01 00:00:00
7,Franz,Castello,fcastello6@1688.com,Male,1995-01-01 00:00:00
8,Jorge,Tarney,jtarney7@ft.com,Male,1943-01-01 00:00:00
9,Eunice,Blakebrough,eblakebrough8@sohu.com,Female,1975-01-01 00:00:00
10,Kristopher,Frankcombe,kfrankcombe9@slate.com,Male,0
11,Palm,Domotor,pdomotora@github.io,Male,2014-01-01 00:00:00
12,Luz,Lansdowne,llansdowneb@theguardian.com,Female,2004-01-01 00:00:00
13,Modestia,Keble,mkeblec@cmu.edu,Female,1929-01-01 00:00:00
14,Stacee,Bovis,invalid,Female,1998-01-01 00:00:00
15,Eden,Wace,ewacee@marriott.com,Female,2004-01-01 00:00:00
17,Tobias,Sherburn,tsherburnf@facebook.com,Male,2018-01-01 00:00:00
19,Clair,Skillern,cskillerng@nih.gov,Male,1942-01-01 00:00:00
20,Mathew,Addicott,maddicotth@acquirethisname.com,Male,1955-01-01 00:00:00
21,Kerianne,Goacher,undefined,Female,1975-01-01 00:00:00
22,Maurits,Shawl,mshawlj@dmoz.org,Male,1948-01-01 00:00:00

In [9]:
#Setze weder männlich noch weibliche User auf "Diverse"
data.gender.fillna(value="Diverse", inplace=True)
data

,first_name,last_name,email,gender,age
id,,,,,
1,Mariel,Finnigan,mfinnigan0@usda.gov,Female,1960-01-01 00:00:00
2,Kenyon,Possek,kpossek1@ucoz.com,Male,2008-01-01 00:00:00
3,Lalo,Manifould,lmanifould2@pbs.org,Male,1994-01-01 00:00:00
4,Nickola,Carous,ncarous3@phoca.cz,Male,2016-01-01 00:00:00
5,Norman,Dubbin,ndubbin4@wikipedia.org,Male,2003-01-01 00:00:00
6,Hasty,Perdue,hperdue5@qq.com,Diverse,1943-01-01 00:00:00
7,Franz,Castello,fcastello6@1688.com,Male,1995-01-01 00:00:00
8,Jorge,Tarney,jtarney7@ft.com,Male,1943-01-01 00:00:00
9,Eunice,Blakebrough,eblakebrough8@sohu.com,Female,1975-01-01 00:00:00
10,Kristopher,Frankcombe,kfrankcombe9@slate.com,Male,0
11,Palm,Domotor,pdomotora@github.io,Male,2014-01-01 00:00:00
12,Luz,Lansdowne,llansdowneb@theguardian.com,Female,2004-01-01 00:00:00
13,Modestia,Keble,mkeblec@cmu.edu,Female,1929-01-01 00:00:00
14,Stacee,Bovis,invalid,Female,1998-01-01 00:00:00
15,Eden,Wace,ewacee@marriott.com,Female,2004-01-01 00:00:00
17,Tobias,Sherburn,tsherburnf@facebook.com,Male,2018-01-01 00:00:00
19,Clair,Skillern,cskillerng@nih.gov,Male,1942-01-01 00:00:00
20,Mathew,Addicott,maddicotth@acquirethisname.com,Male,1955-01-01 00:00:00
21,Kerianne,Goacher,undefined,Female,1975-01-01 00:00:00
22,Maurits,Shawl,mshawlj@dmoz.org,Male,1948-01-01 00:00:00

In [ ]:
#Und jetzt hoffe ich, dass ich nichts übersehen habe :)